# Node modules
/node_modules/

# Environment files
.env

# Logs
*.log

# Prettier & editor specific files
.prettierignore
*.swp

# IDE/editor-specific directories
.vscode/
.idea/

# OS-specific files
Thumbs.db